#!/bin/bash

growpart /dev/nvme0n1 ${partition_number}
lvextend -r -L +${extend_size}G /dev/mapper/RootVG-homeVol
xfs_growfs /home

yum install -y yum-utils
yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
yum -y install terraform

# bastion should also have aws cli installed to create and manage resources in AWS. 

dnf install unzip -y
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip -q awscliv2.zip
./aws/install